/* main section */
.main{
    background-image: url("../images/pizza5.jpg");
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: aliceblue;
    font-style: normal;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;

}
#nav{
    display: inline-flex;
    font-style:italic;
}
h2{
text-align: center;
}
.form{    
    background-image: url("../images/car7.jpeg"), linear-gradient(#181618,#140202);
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 300%;
    color: beige;

}
.contact{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
}


